.form {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;

    .buttonsContainer {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        button {
            flex: 1;
        }
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}